<!DOCTYPE html>
<html>
<head>
    <title>LED Matrix</title>
    <script src="{{ url_for('static', path='/script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='/rSlider.css') }}">
    <script src="{{ url_for('static', path='/rSlider.js') }}"></script>
</head>
<body>
<p>Brightness</p>
<div style="width: 40%; padding-top: 5%;padding-left: 4%;padding-bottom: 2%">
    <input type="text" id="brightness"/>

</div>
Automatic Display Timer
<div style="width: 40%; padding-top: 5%;padding-left: 4%">
    <p>monday<input type="text" id="Monday"/></p>
    <p>tuesday<input type="text" id="Tuesday"/></p>
    <p>wednesday<input type="text" id="Wednesday"/></p>
    <p>thursday<input type="text" id="Thursday"/></p>
    <p>friday<input type="text" id="Friday"/></p>
    <p>saturday<input type="text" id="Saturday"/></p>
    <p>sunday<input type="text" id="Sunday"/></p>
    <p><input type="button" id="save" onclick="applyAutoTimer()" value="Save"/></p>

</div>
Custom Text
<div style="width: 40%; padding-top: 5%;padding-left: 4%">
    <p><input type="text" value="1" id="line1"/></p>
    <p><input type="text" value="1" id="line2"/></p>
    <p><input type="text" value="1" id="line3"/></p>

    <p><input type="button" id="saveText" onclick="applyText()" value="SaveText"/></p>

</div>

</body>
</html>
